@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --star-color: #3f4e60;
    --star-background: #fc0;
}


.Stars {
    --percent: calc(var(--rating) / 5 * 100%);

    display: block;
    font-size: var(--star-size);
    line-height: 1;
}

.Stars::before {
     content: '★★★★★';
     letter-spacing: 3px;
     background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }